<!DOCTYPE html>
<html lang="en" class="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- title.title %> | <%- title.subtitle.about %></title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body class="body">
        <div class="page-wrapper">
            <header class="title">
                <h1><%= title.title %></h1>
            </header>
            <nav>
                <ul class='topnav'>
                    <li><a   href="/">Home</a></li>
                    <li><a href="/xss">XSS</a></li>
                    <li><a class="active" href="/about">About</a></li>
                </ul>
            </nav>
            <main>
                <h1>Home!</h1>
                <p><%= title.title %></p>
                <img src="/images/horner.png"   alt="Horner">
            </main>
            <footer class="footer">
                <hr> 
                <p>   
                    <%= author %>, © <%= year %> <br>
                    <%- school %>
                </p>
            </footer>
        </div>
    </body>
</html>