<!DOCTYPE html>
<html lang="en" class="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- title.title %> | <%- title.subtitle.xss %></title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body class="body">
        <div class="page-wrapper">
            <header class="title">
                <h1 class='title-text'><%= title.title %></h1>
                <img class='title-logo' src= <%-fitlogo%>   alt="FIT">
            </header>
            <nav>
                <ul class='topnav'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/xss">XSS</a></li>
                    <li><a class="active" href="/clickjacking">Clickjacking</a></li>
                    <li><a href="/csrf">CSRF</a></li>
                    <li style="float:right"><a href="/about">About</a></li>
                </ul>
            </nav>
            <main>
                <h1>Home!</h1>
                <p><%= title %></p>
                <img src="/images/horner.png"   alt="Horner"  width="100%">
            </main>
            <%- include('./_footer'); %>
        </div>
    </body>
</html>