<!DOCTYPE html>
<html lang="en" class="html">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="/api/session-p.mjs" defer></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="form-action 'self'" />
        <title><%- title.title %> | <%- title.subtitle.xss %></title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body class="body">
        <div class="page-wrapper">
            <header class="title">
                <h1 class='title-text'><%= title.title %></h1>
                <img class='title-logo' src= <%-fitlogo%>   alt="FIT">
            </header>
                <p id='session-p' style='text-align:end' ></p>
            <nav>
                <ul class='topnav'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/xss">XSS</a></li>
                    <li><a class="active" href="/clickjacking">Clickjacking</a></li>
                    <li><a href="/csrf">CSRF</a></li>
                    <li style="float:right"><a href="/about">About</a></li>
                </ul>
            </nav>
            <main>
                <h1>Clickjacking</h1>

                <form method="post" id="user-add-form">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="username"><br>
                    <button id='user-add-button' type="button">Create user</button>
                </form>

                <section id='usr-created-sec'>
                    <p id="usr-created-note" class="note"></p>
                    <button id="user-created-button" style="display:none"></button>
                </section>

                <button id='ld-users-butt' onclick="fetchList()" name="ld-users-butt">Load users</button>
                <script src="api/list_.js"></script>

                <br/>list of users:
                <ul id="usr-list"></ul>

            </main>
            <%- include('./_footer'); %>
        </div>
    </body>
</html>